#title {
    background-color: green;
    color: black;
    }
    
    .bbdd{
    background-color: gray;
    }
    
    .sistemas{
    background-color: purple;
    }
    
    .lengmarcas{
    background-color: blue;
    }
    
    .entornos{
    background-color: teal;
    }
    
    .programacion{
    background-color: #FF0F0F;
    }
    
 