#primero{
    color: black;
    border: 1px solid black;
    background-image:url(https://img.freepik.com/vector-gratis/fondo-invierno-hojas-pinceles-color-pastel_220290-42.jpg?size=626&ext=jpg);
    width: 400px;
    padding: 25px;
}

#segundo{
    color: black;
    border: 1px solid black;
    
   
    width: 400px;
    padding: 25px;
}

#tercero{
    color: black;
    border: 1px solid black;

    width: 400px;
    padding: 25px;